@{
    ViewBag.Title = "工程项目管理";
        Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        GetGrid();
    });
    //var TreeId = 24;
    //TreeId = GetQueryStringId("TreeId");
    //function GetQueryStringId(name) {
    //    var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
    //    var r = window.location.search.substr(1).match(reg);
    //    if (r != null) {
    //        return unescape(r[2]);
    //    }
    //    return null;
    //}
   
    var TreeId=26;
    @*//表格文件夹点击事件
    function GridFolderEvent(TreeID) {
        TreeId = TreeID;
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("/SteelMember/MemberProduce/GridListJsonProcess")?TreeID=" + TreeId, page: 1
    }).trigger('reloadGrid');
    };*@
    //加载表格
    function GetGrid() {
        var SelectRowIndx;
        $("#gridTable").jqGrid({
            url: "@Url.Content("/SteelMember/MemberProduce/GridListJsonProcess")?TreeID=" + TreeId,
            datatype: "json",
            height: $(window).height() - 125,
            autowidth: true,
            colModel: [
                    { label: '主键', name: "ProcessId", hidden: true },
                    { label: '构件名', name: "MemberName", index: "MemberName", width: 10 },
                    { label: '构件编号', name: "MemberNumbering", index: "MemberNumbering", width: 10 },
                    { label: '生产数量', name: "MemberNumber", index: "MemberNumber", width: 10 },
                    { label: '开始时间', name: "ProduceStartDate", index: "ProduceStartDate", width: 10},
                    { label: "结束时间", name: "ProduceEndDate", index: "ProduceEndDate", width: 10 },
                    { label: '组立', name: 'SetUpProcessing', index: 'SetUpProcessing', width: 10 },
                    { label: '加工天数', name: "SetUpProcessingDays", index: "SetUpProcessingDays", width: 10 },
                    { label: '埋弧', name: "SubmergedArcProcessing", index: "SubmergedArcProcessing", width: 10 },
                    { label: "加工天数", name: "SubmergedArcProcessingDays", index: "SubmergedArcProcessingDays", width: 10 },
                    { label: '铆焊', name: 'RivetingProcessing', index: 'RivetingProcessing', width: 10 },
                    { label: '加工天数', name: "RivetingProcessingDays", index: "RivetingProcessingDays", width: 10 },
                    { label: '油漆', name: "PaintProcessing", index: "PaintProcessing", width: 10 },
                    { label: "加工天数", name: "PaintProcessingDays", index: "PaintProcessingDays", width:10 },
                    { label: '备注', name: 'Description', index: 'Description', width: 15 },
            ],
            rowNum: 30,
            sortname: 'SortCode',
            sortorder: 'Desc',//降序 asc升序
            pager: "#gridPager",
            viewrecords: true,
            rownumbers: true,
            gridview: true,
            rowList: [15, 30, 50, 100, 500, 1000],
            ondblClickRow: function (TreeId) {
                var rowData = $("#gridTable").getRowData(TreeId);  //根据ID拿到一行的数据
                if (rowData.Icon == '-1') {
                    GridFolderEvent(rowData.TreeId);
                    var treeid = "ItemsTree_" + rowData.TreeId.replace(/-/g, '_');
                    $('#' + treeid + ' img').trigger("click");
                }
            },
            onSelectRow: function () {
                SelectRowIndx = GetJqGridRowIndx("#" + this.id);
            },
            gridComplete: function () {
                var ids = $("#gridTable").getDataIDs();
                for (var i = 0; i < ids.length; i++) {
                    var rowData = $("#gridTable").getRowData(ids[i]);
                    if (rowData.Enabled == "无效") {//如果无效，则背景色置于红色
                        $('#' + ids[i]).find("td").addClass("SelectBG");
                    }
                }
                $("#" + this.id).jqGrid('setSelection', SelectRowIndx);
            }
        });

        //实现２行表头脚本
        $("#gridTable").jqGrid('setGroupHeaders', {
            useColSpanStyle: true,
            groupHeaders: [
                { startColumnName: 'MemberName', numberOfColumns: 3, titleText: '生产计划' },
                { startColumnName: 'SetUpProcessing', numberOfColumns: 2, titleText: '组立加工' },
                { startColumnName: 'SubmergedArcProcessing', numberOfColumns: 2, titleText: '埋弧加工' },
                { startColumnName: 'RivetingProcessing', numberOfColumns: 2, titleText: '铆焊加工' },
                { startColumnName: 'PaintProcessing', numberOfColumns: 2, titleText: '油漆加工' },
            ]
        })

        columnModelData("#gridTable");
        //自应高度
        $(window).resize(function () {
            $("#gridTable").setGridHeight($(window).height() - 200);
        });

    }

    //刷新表格 树
    function btn_reload() {
        window.parent.GetTree();
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //新增信息
    function btn_add() {
        //var KeyValue = GetJqGridRowValue("#gridTable", "ProjectId");
        if (IsChecked(TreeId)) {
            var url = "/SteelMember/MemberProduce/ProcessForm?KeyValue= " + ProcessId;
            openDialog(url, "OrderForm", "新增信息", 500, 400, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //编辑信息(得到实体)
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ProcessId");
        var ItemID = 1;
        if (IsChecked(KeyValue)) {
            var url = "/SteelMember/MemberProduce/ProcessForm?KeyValue= " + KeyValue;
            openDialog(url, "OrderForm", "编辑信息", 600, 400, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //标记删除信息
    function btn_mark() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ProcessId");
        var Prompt = "您确实要删除此文件吗？";
        if (IsDelData(KeyValue)) {
            delConfirm('/SteelMember/MemberProduce/MarkProjectDemand', { KeyValue: KeyValue }, Prompt);
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //删除信息
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "OrderId");
        var Prompt = "您确实要删除此文件吗？";
        if (IsDelData(KeyValue)) {
            delConfirm('/SteelMember/MemberProduce/DeleteProcess', { KeyValue: KeyValue }, Prompt);
            $("#gridTable").trigger("reloadGrid"); //重新载入
        }

    }

    //确认信息
    function btn_confirm() {
        var KeyValue = GetJqGridRowValue("#gridTable", "OrderId");
        var Prompt = "您确实要提交此文件吗？";
        if (IsDelData(KeyValue)) {
            delConfirm('/SteelMember/MemberProduce/ConfirmOrder', { KeyValue: KeyValue }, Prompt);
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //构件图纸/模型管理
    function btn_drawing() {
        var KeyValue = GetJqGridRowValue("#gridTable", "MemberNumbering");
        var Sort = GetJqGridRowValue("#gridTable", "Sort");
        if (IsChecked(KeyValue)) {
                var url = '/SteelMember/File/DrawingManagement?KeyValue=' + KeyValue;
                Dialog(url, "DrawingManagement", "文件管理", 900, 890, function (iframe) {
                    top.frames[iframe].AcceptClick()
                });
            }
    }

    //导出文件
    function btn_derive() {
        SetDeriveExcel("#gridTable", "制程设计表");
        openDialog("/SteelMember/File/DeriveFile", "DeriveFile", "信息导出", 900, 500, function (iframe) {
            top.frames[iframe].AcceptClick();
        })
    }
</script>

<div class="tools_bar leftline rightline" style="margin-bottom: 0px; margin: 1px;">
    <div class="PartialButton">
        @Html.Partial("_PartialButton")
    </div>
</div>
<div class="rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
</div>

