@{
    ViewBag.Title = "项目信息管理/项目信息表单";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<head>
    <script src="~/Scripts/jqueryPicture/js/jquery.mousewheel.min.js"></script>
    <script src="~/Scripts/jqueryPicture/js/jquery.iviewer.js"></script>

    <script type="text/javascript">
        var KeyValue = GetQuery('KeyValue');
        //var ItemID = GetQuery('ItemID');
        //var TreeId = GetQuery('TreeId');
        var Data;
        $(function () {
            InitControl();
        })
        //得到一个对象实体
        function InitControl() {
            //if (!!KeyValue) {
            AjaxJson("/SteelMember/MemberProduce/SetProcessForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
                Data = data;
                $("#ProjectName").focus();
                $("#ProjectName").select();
            });
        }

        //保存事件
        function AcceptClick() {
            if (!CheckDataValid('#form2')) {
                return false;
            }
            Loading(true, "正在提交数据...");
            window.setTimeout(function () {
                var postData = GetWebControls("#form2");
                AjaxJson("/SteelMember/MemberProduce/SubmitProcessForm?KeyValue=" + KeyValue, postData, function (data) {//+ '&ItemID=' + ItemID
                    tipDialog(data.Message, 3, data.Code);
                    top.frames[tabiframeId()].windowload();
                    closeDialog();
                });
            }, 200);
        };
    </script>
</head>
<form id="form2" style="margin: 25px; margin-left: 40px; margin-right: 40px;">
    <div>
        <input id="IsPublic" type="hidden" />
        <input id="SortCode" type="hidden" />
        <input id="ParentID" type="hidden" />

        <table class="form">
            <tr>
                <th class="formTitle">
                    开始时间：
                </th>
                <td class="formValue">
                    <input id="ProduceStartDate" type="text" class="txt Wdate" onfocus="WdatePicker({ minDate: '%y-%M-#{%d+1}' })"/>
                </td>
                <th class="formTitle">
                    结束时间：
                </th>
                <td class="formValue">
                    <input id="ProduceEndDate" type="text" class="txt Wdate" onfocus="WdatePicker({ minDate: '%y-%M-#{%d+1}' })" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    组立加工：
                </th>
                <td class="formValue">
                    @*<input id="SetUpProcessing" type="text" class="txt" />*@
                    <select id="SetUpProcessing">
                        <option value="组立组">组立组</option>
                        <option value="埋弧组">埋弧组</option>
                        <option value="铆焊组">铆焊组</option>
                        <option value="油漆组">油漆组</option>
                    </select>
                </td>
                <th class="formTitle">
                    加工天数：
                </th>
                <td class="formValue">
                    <input id="SetUpProcessingDays" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    埋弧加工：
                </th>
                <td class="formValue">
                    @*<input id="SubmergedArcProcessing" type="text" class="txt" />*@
                    <select id="SubmergedArcProcessing">
                        <option value="组立组">组立组</option>
                        <option value="埋弧组">埋弧组</option>
                        <option value="铆焊组">铆焊组</option>
                        <option value="油漆组">油漆组</option>
                    </select>
                </td>
                <th class="formTitle">
                    加工天数：
                </th>
                <td class="formValue">
                    <input id="SubmergedArcProcessingDays" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    铆焊加工：
                </th>
                <td class="formValue">
                    @*<input id="RivetingProcessing" type="text" class="txt" />*@
                    <select id="RivetingProcessing">
                    <option value="组立组">组立组</option>
                    <option value="埋弧组">埋弧组</option>
                    <option value="铆焊组">铆焊组</option>
                    <option value="油漆组">油漆组</option>
                    </select>
                </td>
                <th class="formTitle">
                    加工天数：
                </th>
                <td class="formValue">
                    <input id="RivetingProcessingDays" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    油漆加工：
                </th>
                <td class="formValue">
                    @*<input id="PaintProcessing" type="text" class="txt" />*@
                    <select id="PaintProcessing">
                        <option value="组立组">组立组</option>
                        <option value="埋弧组">埋弧组</option>
                        <option value="铆焊组">铆焊组</option>
                        <option value="油漆组">油漆组</option>
                    </select>
                </td>
                <th class="formTitle">
                    加工天数：
                </th>
                <td class="formValue">
                    <input id="PaintProcessingDays" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    备注：
                </th>
                <td class="formValue" colspan="2">
                    <textarea id="Description" name="Description" maxlength="200" class="txtArea" rows="5"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>