<!DOCTYPE html>

<html>
<head>
    <title>登录信息超时</title> 
    <script src="~/Content/Scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/Content/Scripts/learunui-framework.js"></script>
    <script src="~/Content/Scripts/lhgdialog/lhgdialog.min.js"></script>

    <script type="text/javascript">
        function fullwin() {
            var msg = "<div class='ui_alert'>登录信息超时，请重新登录</div>"
            top.$.dialog({
                id: "confirmDialog",
                lock: true,
                icon: "hits.png",
                content: msg,
                title: "系统提示",
                button: [
                {
                    name: '确认',
                    callback: function () {
                        top.location.href = "../Login/Index";
                        return false;
                    }
                }
                ]
            });
        }
    </script>
</head>
<body onload="fullwin()">
</body>
</html>
